.conteudo {
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
}

.background {
   height: 100vh;
   position: absolute;
   left: 0;
}
.info{
   width: 60%;
   margin-right: 90px;
   margin-top: 40px;
   color: #fff;
}
input{
   border: 1px solid #999999;
   border-radius: 22px;
   min-width: 250px;
   margin-right: 12px;
   width: 80%;
   background: transparent;
   font-size: 18px;
   color: #fff;
   padding: 10px;
}

button{
   border: 1px solid #999999;
   border-radius: 22px;
   margin-right: 12px;
   background: #203338;
   color: #ffff;
   font-size: 18px;
   padding: 10px;
}

.perfil{
   display: flex;
   margin: 40px;
}

.profile{
   width: 120px;
   height: 120px;
   border-radius: 60px;
   border: 2px solid #fff;
   margin-right: 32px;
}


.perfil h3 {
   color: #999999;
   font-size: 24px;
   margin: 0;
}

.perfil span {
   color: #999999;
   font-size: 16px;
   margin: 0;
}

.perfil p {
   color: #999999;
   font-size: 12px;
   margin: 0;
   
   margin-top: 20px;
}